#svg {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

#editor {
    overflow-y: scroll;
}

.visbackground {
    fill: #fcfcfc;
    /*fill:#f2f2f9;*/
    pointer-events: all;
    stroke: #a6a6a6;
    stroke-width: 1;
    stroke-dasharray: 5 2;
}

.bandbackground {
    fill: #fdfdfd;
}

.grids {
    stroke: #a6a6a6;
	stroke-width: 1;
	stroke-dasharray: 5 2;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.hover_group:hover path {
    stroke-opacity: 0.8;
}

.tooltip {	
    position: absolute;			
    text-align: left;			
    width: auto;					
    height: 84px;					
    padding: 8px;				
    font: 12px sans-serif;		
    background: lightblue;	
    border: 0px;		
    border-radius: 6px;			
    pointer-events: none;			
}

.navigator-mask {
    cursor: move;
    fill: rgba(102,133,194,0.3);
    stroke-width: 1;
    stroke: #ffffff;
    stroke-opacity: 0.8;
}

.scroll-bar {
    cursor: move;
    fill: rgba(102,133,194,0.8);
    stroke-width: 1;
    stroke: #ffffff;
    stroke-opacity: 0.4;
}

.mask-controller {
    fill: #e6e6e6;
    cursor: ew-resize;
}