body {
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
    color: #444444;
}

#svg {
    border: 1px solid #e6e6e6;
    background-color: #f2f2f2;
}

#editor {
    overflow-y: scroll;
}

.visbackground {
    fill: #ffffff;
    /*fill:#fafafa;*/
    pointer-events: all;
    /*stroke: #a6a6a6;
    stroke-width: 1;
    stroke-dasharray: 5 2;*/
}

.row-head-background {
    fill: #f7f7f7;
}

.bandbackground {
    fill: #fdfdfd;
}

.grids {
    stroke: #a6a6a6;
	stroke-width: 1;
	stroke-dasharray: 5 2;
}

.id-text {
    color: #333333;
    font-size: 15px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.hover_group:hover path {
    stroke-opacity: 0.8;
}

.tooltip {	
    position: absolute;			
    text-align: left;			
    width: auto;					
    height: 84px;					
    padding: 8px;				
    font: 12px sans-serif;		
    background: lightblue;	
    border: 0px;		
    border-radius: 6px;			
    pointer-events: none;			
}

.navigator-mask {
    cursor: move;
    /*fill: rgba(102,133,194,0.3);*/
    fill: rgba(255,255,255,0.6);
    stroke-width: 1;
    stroke: #cccccc;
    stroke-opacity: 0.8;
}

.scroll-bar {
    cursor: move;
    /*fill: rgba(102,133,194,0.8);*/
    fill: rgba(31,31,31,0.6);
    /*stroke-width: 1;
    stroke: #1f1f1f;
    stroke-opacity: 0.4;*/
}

.mask-controller {
    fill: #e6e6e6;
    cursor: ew-resize;
}